
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
    <h1>Pick your robot</h1>
{{#users}}
<span class="row">
  <a href='/hello/{{id}}'>
  <div class="users">
  <img src="{{avatar}}">
  <!-- <a href='/hello/{{id}}'></a> -->
  <h3>{{name}}</h3>
  {{#job}}
  <h2>{{job}}</h2>
  {{/job}}
  {{^job}}
  <p class="hire">Available for hire</p>
  {{/job}}
  <h4>{{company}}</h4>
</div>



{{/users}}
</a>
</span>
  </body>
</html>
