
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
{{#users}}
<div class="users">
  <img src="{{avatar}}">
  <h3>{{name}}</h3>

{{/users}}


  </body>
</html>
