<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>{{name}}</title>
  </head>
  <body>
    <div class="users">
        <img id="avatar" src="{{avatar}}">
        <div class="container">
        <h1>{{name}}</h1>
        <div class="box">
        <div class="first">

         City:{{address.city}}<br>
      Country:{{address.country}}<br>
        <div id="email">{{email}}</div>
    </div>

        <div class="second">

      Education:{{university}}
                {{#job}}
                {{job}}
                {{/job}}
        <div class="hire">
                {{^job}}Avaliable for hire
                {{/job}}
        </div>
    </div>
  </div>
    </div>


</div>
  </body>
</html>

<!-- // {
//   "id":1,
//   "username":"hjuza0",
//   "name":"Hamlen Juza",
//   "avatar":"https://robohash.org/blanditiisexercitationemquaerat.png?size=150x150&set=set1",
//   "email":"hjuza0@blogger.com",
//   "university":"Pomor State University",
//   "job":"Engineer IV",
//   "company":"Stark, Feil and Bode",
//   "skills":[
  //   "DMVPN",
  //   "HDX",
  //   "Rhino 3D"
  // ],
//   "phone":"7-(397)813-7803",
//   "address":{
        // "street_num":"78226",
      //   "street_name":"Ryan",
      //   "city":"Kamennogorsk",
      //   "state_or_province":null,
      //   "postal_code":"188950",
      //   "country":"Russia"
  // }
// } -->
