body{
  background: ;
  font-family:sans-serif;
  text-align: center;
}

/*div {
  border: black solid 1px;
  display: inline-block;
  margin: auto;

}*/

h3 {
  color: skyblue;
  height: 2em;
}
.hire {
  color:red;
  height: 1em;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 10px;
  padding: 10px;

}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 25%;
}

.user {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.users {
  /*border: #666 solid 1px;*/
  display: flex;
  flex-flow: row wrap;
  margin: 50px 10px;
  padding: 10px;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: row;
}

/*#email {
  border-right: solid black 1px;
  padding: 10px;
}*/

#avatar {
  border-radius: 50%;
  border: black solid 1px;
  float: left;
  margin: 10px;

}
.first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid black;
  padding: 10px;

}

.second {
  margin: 10px;
  al

}

.user {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
